PORT=5432
DB_USER= CollegeDBinstance
DB_PASSWORD=6ZYchYflZRE5xC2YjYuwUaDYEIjE8wn7
DB_HOST=dpg-db1mmvk9v7es738a7mj0-a
DB_PORT=5432
DB_DATABASE=collegedbinstance
DB_SSL=false
ALLOWED_ORIGINS=http://localhost:3000
